*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

/* Arrière-plan général */
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/image/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Carte centrale*/
.kiosk-card {
    background: rgba(255, 255, 255, 0.95); 
    width: 90%;
    max-width: 480px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(5px);
}

.brand-title {
    font-size: 2.2rem;
    color: #0d6efd;
    margin-bottom: 5px;
}

.subtitle {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.hidden {
    display: none !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease;
    margin-top: 10px;
    
}

.btn:active {
    transform: scale(0.98);
}

.btn-primary { background-color: #077d13; color: white; }
.btn-secondary { background-color: #6c757d; color: white; }
.btn-success { background-color: #198754; color: white; }
.btn-warning { background-color: #9f2807; color: #000; }

.form-group {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.badge-alert {
    background-color: #e7f1ff;
    border-left: 5px solid #0d6efd;
    padding: 15px;
    border-radius: 6px;
    margin: 15px 0;
    font-size: 1rem;
    text-align: left;
}

.btn-download {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(237, 228, 228);
    color: rgb(6, 79, 17);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}